<h3>Lista obecności</h3>
<!--<table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let attendance of attendanceList">
        <th scope="row">{{attendance.lessonNumber}}</th>
        <td>{{attendance.courseName}}</td>
        <td>{{attendance.date}}</td>
        <td>{{getAttendance(attendance.wasPresent)}}</td>
      </tr>
    </tbody>
</table>
-->

<kendo-grid [data]="absense" [height]="410">
  <kendo-grid-column field="date" title="Data">
  </kendo-grid-column>
  <kendo-grid-column field="courseName" title="Przedmiot">
  </kendo-grid-column>
  <kendo-grid-column field="lessonNumber" title="Numer lekcji">
  </kendo-grid-column>
</kendo-grid>
