<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" routerLink="gradebook" routerLinkActive="active">Dziennik Ocen</a>
    <a class="nav-link" routerLink="attendance" routerLinkActive="active">Frekwencja</a>
    <a class="nav-link" routerLink="achievements" routerLinkActive="active">Osiągnięcia</a>
    <a class="nav-link" routerLink="shedule" routerLinkActive="active">Plan Zajęć</a>
    <a class="nav-link" routerLink="conwersation" routerLinkActive="active">Chat</a>
    <a class="nav-link" routerLink="account" routerLinkActive="active">Konto</a>
</nav>
<router-outlet></router-outlet>
